
<!doctype html>
<html class="htdocs">
<head>
    <meta charset="utf-8">
        <title>{{title}}</title>
                <link rel="stylesheet" type="text/css" href="css/style.css">
                <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="utf-8">
        </head>
<body>

<div class="header-wrap">
    </div>



<div class="navbar-wrap">
    <nav class="navbar navbar-expand-md navbar-light bg-light  border border-right-0 border-left-0 border-top-0">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav d-flex flew-row justify-content-around w-100">
            <li class='nav-item active my-auto'><a class='nav-link' href='index.py.cgi'>Start</a></li><li class='nav-item  my-auto'><a class='nav-link' href='index.py.cgi?action=category'>Kategori</a></li><li class='nav-item w-50'>
        <form class='nav-link' action='index.py.cgi?action=search' method='post'>
        <input class='w-100' type='text' name='search' placeholder='Sök'>
      </form></li><li class='nav-item my-auto'><a class='nav-link' href='index.py.cgi?action=login'>Logga in</a></li><li class='nav-item my-auto' id='cart'><a class='nav-link' href='index.py.cgi?action=kundvagn'
        <i class='fas fa-shopping-cart'></i> Kundvagn (0)</a></li>        </ul>
    </div>
</nav>
</div>


<div class="main-wrap">


</div>
</div>

<div class="footer-wrap">
    <footer class="d-flex justify-content-center bg-light border border-left-0 border-right-0 border-bottom-0">
    <div class="p-4 m-4 w-75">
    </div>
</footer>
</div>

    <script src="http://www.student.bth.se/~magp16/dbwebb-kurser/databasteknik/htdocs/../vendor/twbs/bootstrap/assets/js/vendor/jquery-slim.min.js" type="text/javascript"></script>
    <script src="http://www.student.bth.se/~magp16/dbwebb-kurser/databasteknik/htdocs/../vendor/twbs/bootstrap/assets/js/vendor/popper.min.js" type="text/javascript"></script>
    <script src="http://www.student.bth.se/~magp16/dbwebb-kurser/databasteknik/htdocs/../vendor/twbs/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="http://www.student.bth.se/~magp16/dbwebb-kurser/databasteknik/htdocs/../vendor/components/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="http://www.student.bth.se/~magp16/dbwebb-kurser/databasteknik/htdocs/js/product.js" type="text/javascript"></script>
    <script src="http://www.student.bth.se/~magp16/dbwebb-kurser/databasteknik/htdocs/js/cart.js" type="text/javascript"></script>

</body>
</html>
